@import "tailwindcss";

@theme {
  --color-maroon-700: oklch(0.4606 0.1578 18.01);
  --color-maroon-800: oklch(0.3472 0.1394 19.75);
  --color-maroon-900: oklch(0.2983 0.1197 19.27);
  --font-display: "Inter", sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
}
